@font-face {
  font-family: 'GT Pressura';
  src:
    url('/fonts/GTPressura.woff2') format('woff2'),
    url('/fonts/GTPressura.woff') format('woff'),
    url('/fonts/GTPressura.ttf') format('truetype');
  font-weight: 300 900;
  font-stretch: 100% 150%;
  font-style: normal italic;
  font-display: swap;
}

@font-face {
  font-family: 'GT Pressura Mono';
  src:
    url('/fonts/GTPressuraMono.woff2') format('woff2'),
    url('/fonts/GTPressuraMono.woff') format('woff'),
    url('/fonts/GTPressuraMono.ttf') format('truetype');
  font-weight: 300 900;
  font-style: normal italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lyric';
  src:
    url('/fonts/LyricRoman.woff2') format('woff2'),
    url('/fonts/LyricRoman.woff') format('woff'),
    url('/fonts/LyricRoman.ttf') format('truetype');
  font-weight: 200 700;
  font-stretch: 80% 120%;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lyric';
  src:
    url('/fonts/LyricItalic.woff2') format('woff2'),
    url('/fonts/LyricItalic.woff') format('woff'),
    url('/fonts/LyricItalic.ttf') format('truetype');
  font-weight: 200 700;
  font-stretch: 80% 120%;
  font-style: italic;
  font-display: swap;
}
