@font-face {
  font-family: 'GT Pressura';
  src:
    url('/fonts/GTPressura.woff2') format('woff2'),
    url('/fonts/GTPressura.woff') format('woff'),
    url('/fonts/GTPressura.ttf') format('truetype');
  font-weight: 300 900;
  font-stretch: 100% 150%;
  font-style: normal italic;
  font-display: swap;
}

@font-face {
  font-family: 'GT Pressura Mono';
  src:
    url('/fonts/GTPressuraMono.woff2') format('woff2'),
    url('/fonts/GTPressuraMono.woff') format('woff'),
    url('/fonts/GTPressuraMono.ttf') format('truetype');
  font-weight: 300 900;
  font-style: normal italic;
  font-display: swap;
}

@font-face {
  font-family: 'Miller Text';
  src:
    url('/fonts/MillerText-Regular.woff2') format('woff2'),
    url('/fonts/MillerText-Regular.woff') format('woff'),
    url('/fonts/MillerText-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Miller Text';
  src:
    url('/fonts/MillerText-RegularItalic.woff2') format('woff2'),
    url('/fonts/MillerText-RegularItalic.woff') format('woff'),
    url('/fonts/MillerText-RegularItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Miller Text';
  src:
    url('/fonts/MillerText-SemiBold.woff2') format('woff2'),
    url('/fonts/MillerText-SemiBold.woff') format('woff'),
    url('/fonts/MillerText-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Miller Text';
  src:
    url('/fonts/MillerText-SemiBoldItalic.woff2') format('woff2'),
    url('/fonts/MillerText-SemiBoldItalic.woff') format('woff'),
    url('/fonts/MillerText-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Miller Text';
  src:
    url('/fonts/MillerText-Bold.woff2') format('woff2'),
    url('/fonts/MillerText-Bold.woff') format('woff'),
    url('/fonts/MillerText-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Miller Text';
  src:
    url('/fonts/MillerText-BoldItalic.woff2') format('woff2'),
    url('/fonts/MillerText-BoldItalic.woff') format('woff'),
    url('/fonts/MillerText-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
